@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: 'Open Sans', sans-serif;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	text-decoration: none;
	line-height: 1.2;
}

button:focus,
textarea:focus,
select:focus {
	outline: none !important;
	-webkit-appearance: none;
	box-shadow: none;
}

input:focus {
	outline: none !important;
}

a:active,
a:focus {
	outline: 0;
	outline: none !important;
	border: none;
	-moz-outline-style: none;
}


.wrapper {
	overflow: hidden;
}

.owl-drag {
	overflow: hidden;
}

.owl-item {
	float: left;
}

.owl-dots {
	display: none;
}



/* concert-sec start */
.concert-sec {
	margin: 60px 0;
}

.concert-sec .swiper-button-prev,
.concert-sec .swiper-button-next {
	width: 40px;
	height: 58px;
	background: #439799;
	border-radius: 8px;
}

.concert-sec .swiper-button-prev:after,
.concert-sec .swiper-button-next:after {
	color: white;
	font-size: 8px;
}

.concert-sec .swiper-button-prev {
	left: -20px;
}

.concert-sec .swiper-button-next {
	right: -20px;
}

.concert-sec__slider .concert-sec__slider-box {
	position: relative;
}

.concert-sec .concert-swiper__img {
	width: 100%;
}

.concert-sec .concert-sec__content {
	margin-top: 30px;
}

.concert-sec .concert-sec__descr {
	font-family: 'Manrope';
	font-weight: 400;
	font-size: 20px;
	line-height: 28px;
	color: #272727;
	margin-bottom: 10px;
}

.concert-sec .concert-sec__descr .concert-sec__descr-heading {
	margin-bottom: 30px;
	display: inline-block;
}

.more-text__btn {
	font-family: 'Manrope';
	font-weight: 500;
	font-size: 20px;
	line-height: 28px;
	color: #439799;
	border: none;
	background: transparent;
	padding: 0;
	margin: 0;
}

/* concert-sec end */

/* tickets-box start */
.tickets .tickets-box .tickets-box__img {
	width: 100%;
}

/* tickets-box end */

/* REVIEWS start */
.reviews {
	margin-top: 90px;
}

.reviews .reviews-card {
	background: #FFFFFF;
	border: 1px solid #DDDDDD;
	border-radius: 32px;
	padding: 32px;
	margin-top: -30px;
}

.reviews .reviews-card .reviews-user__name {
	font-family: 'Manrope';
	font-weight: 400;
	font-size: 20px;
	line-height: 32px;
	color: #272727;
	margin-left: 25px;
}

.reviews .reviews-card .reviews-card__heade {
	margin-bottom: 25px;
}

.reviews .reviews-card .reviews-card__body-text {
	font-family: 'Manrope';
	font-weight: 500;
	font-size: 20px;
	line-height: 32px;
	color: #272727;
	margin-bottom: 8px;
}

.reviews .reviews-card .card-copyright {
	font-family: 'Manrope';
	font-weight: 400;
	font-size: 13.5488px;
	line-height: 19px;
	margin-top: 16px;
	color: rgba(39, 39, 39, 0.4);
}

.reviews .show-more__card,
.show-more__card-green {
	font-family: 'Manrope';
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.5px;
	color: #272727;
	background: #EDEDED;
	border-radius: 32px;
	border: none;
	padding: 16px 32px;
	margin-top: 30px;
}

.reviews .show-more__card-green {
	width: 100%;
	background: #439799;
	color: white;
}

/* REVIEWS end */




/*@media only screen and (max-width: 480px){}*/
@media (max-width: 1200px) {
	.reviews .reviews-card .reviews-user__name {
		font-size: 18px;
		margin-left: 20px;
	}

	.reviews .reviews-card .reviews-card__body-text {
		font-size: 18px;
	}

	.more-text__btn {
		font-size: 18px;
	}

	.reviews .reviews-card__star svg {
		width: 20px;
		height: 20px;
		display: inline-block;
	}
}

@media (max-width: 768px) {

	.concert-sec .swiper-button-prev,
	.concert-sec .swiper-button-next {
		width: 30px;
	}

	.concert-sec .swiper-button-next {
		right: -15px;
	}

	.concert-sec .swiper-button-prev {
		left: -15px;
	}
}

@media (max-width: 475px) {
	.reviews .reviews-card {
		padding: 16px 20px;
		margin-bottom: 20px;
	}

	.reviews .reviews-card__star svg {
		width: 10px;
		height: 10px;
	}

	.reviews .reviews-card .reviews-user__name {
		font-size: 16px;
		margin-left: 16px;
	}

	.reviews .reviews-card .reviews-card__body-text {
		font-size: 16px;
		margin-bottom: 4px;
		line-height: 24px;
	}

	.more-text__btn {
		font-size: 16px;
	}
}

@media (max-width: 430px) {
	.concert-sec {
		margin: 20px 0 30px 0;
	}

	.concert-sec .swiper-button-prev {
		left: 10px;
	}

	.concert-sec .swiper-button-next {
		right: 10px;
	}

	.concert-sec .concert-sec__descr,
	.more-text__btn {
		font-size: 16px;
	}
	.reviews .show-more__card-green{
		display: block !important; 
		margin-top: -5px;
	}
	.reviews .show-more__card {
		font-size: 14px;
		width: 100%;
		margin-top: 10px;
	}
	.reviews .reviews-card__user img{
		width: 40px;
		height: 40px;
	}
}